header {
background-color: #d4c07c;
width:100%;
Position: fixed;
z-index: 999;
display:flex;
justify-content:space-between;
align-items: center;
padding: 10px 200px;
}



body {
    background-color: rgb(133, 118, 76);
}



.grid-container {
    display: grid;
    grid-template-columns: 22fr 3fr;
    grid-template-rows:2fr 2fr


}

.grid-item {
    margin-top: 10px;
    background-color: #797272;
    padding-top: 10px;
    padding-right:10px ;
    padding-bottom: 10px;
    padding: left 10px; ;
    border: 1px solid #000;
    max-width: 200px;
    min-width: 200px;
}
.flex-container {
    grid-template-columns: 3fr 3 fr;
    grid-template-rows:  1fr 1fr;
    gap: 10px;
    display: flex;
    padding-top:  10px ;
    padding-bottom: 30px;
    padding-left:  10px;;
    padding-right: 10px;
}
.flex-item {
    background-color: var(--background);
    padding-top: 500px;
    padding-bottom: 500px;
    padding-left:  30px;
    padding-right: 10px;
    border: 10px;
    margin-top: 10px;
    max-width: 5000 px;
    min-width: 300px;
}


.footer{
    display: flex;
    
    justify-content: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: rgb(93, 199, 235);
    color: rgb(1, 1, 20);
}