.header {
    padding-top: 100px;
    position: sticky;
    top: 2px;
    width: 100%;
    display:block;
    margin: auto;
    height: 220px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 50px 100px 150px; */

    gap: 10px;
    padding-top: 10px;
}
.grid-item {
    margin-top: 10px;
    background-color: #dd9d9d;
    padding-top: 0px;
    padding-bottom: 10px;
    border: 1px solid #000;
    max-width: 300px;
    min-width: 300px;
}
.flex-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    gap: 10px;
    display: grid;
    padding: top 0;
    padding-bottom: 30px;
}
.flex-item {
    background-color: var(--background);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px dashed var(--border-color);
    margin-top: 10px;
    max-width: 300px;
    min-width: 300px;
}


.footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(40, 168, 211);
    color: rgb(1, 1, 20);
}