
.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr
}
.grid-item {
    margin-top: 10px;
    background-color: #bdafaf;
    padding-top: 0px;
    padding-bottom: 10px;
    border: 1px solid #000;
    max-width: 200px;
    min-width: 200px;
}
.flex-container {
    grid-template-columns: 2fr 2 fr;
    grid-template-rows:  1fr 1fr;
    gap: 10px;
    display: grid;
    padding: top 10 ;
    padding-bottom: 30px;
}
.flex-item {
    background-color: var(--background);
    padding-top: 100 px;
    padding-bottom: 100 px;
    border: 10px;
    margin-top: 10px;
    max-width: 300px;
    min-width: 300px;
}


.footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(40, 168, 211);
    color: rgb(1, 1, 20);
}